#title{
    background-color: #ff4c68;
    color:#fff;
    
}
body{
    font-family: "Montserrat-light";
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    

}

.container-fluid{
    padding:2% 15% 7%;

}

/* Navigation bar */


.navbar{
    padding: 0 0 4.5rem;
    
}
.navbar-brand {
 font-family:"Ubuntu" ;
 font-size:2.5rem;
}

.
.nav-item{
    margin:10px 20px;
}



.dog-jpg{
    width:60%;
    transform:rotate(25deg);
    position: absolute;
    right:25%;
    
}

@media (max-width:990px) {
    .dog-jpg{
        
        position:static;
        transform:rotate(0);
        }
    #title{
        text-align: center;
    }
    
    
}

/* Download Buttons */
/* Features section */

#features{
    background-color: white;
    padding:7% 15%;
    position: relative;
    
   
}
.btn{
    margin: 5% 3% 5% 0;

}

.fas{
    color: #ef8172;
    font-size:5rem;
}
.fas:hover{
    color:#ff4c68;
}

h3{
    font-family: "Montserrat";
    font-size:1,5rem;
}

.features-p{
    color:#8f8f8f;
    
}

.box{
    padding-right: 10%;
    text-align: center;
}
/* testimonials */

#testimonials{
  
    text-align: center;
    background-color: #ef8172;
    color:#fff;
   
}

h2{
    font-family: "Montserrat";
    font-size:2.5rem;
    line-height: 1.5;
}

.testimonial-image{
    margin-top:5%;
    width:10%;
    border-radius:100%;
   
}

#press{

   
    text-align: center;
    background-color: #ef8172;
    
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;

}

.carousel-item{
    padding:7% 15%;
}

#pricing{
    padding:10%;
    margin:20px 20px 50px;
    text-align: center;
}

.pricing-column{
    padding:3% 2%;
  
}

.card-body{

   
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    height:20rem;
    color:#fff;
    padding:10% 22%;
   
    

}

.cta-headig{
    font-family: "Montserrat";
    font-size: 3rem;
    
}

.cta-btn{
    margin:7% 5%;
}

#footer{
    padding:7% 15%;
    text-align: center;
    background-color: #fff;
}

.footer-icons{
    margin:20px 10px;
}